<form action="Category/add" method="post">
    <div class="form">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12"> 
                        <label for="cat-id">Categoria:</label>                  
                        <input type="text" class="form-control" id="cat-id">
                    </div>     
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">                    
                        <label for="cat-name">Nombre categoria:</label>                  
                        <input type="text" class="form-control" id="cat-name">
                    </div>     
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="cat-description">Descripcion categoria:</label>                  
                        <input type="text" class="form-control" id="cat-description">
                    </div>     
                </div>          
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="cat-des-large">Descripcion larga:</label>                  
                        <input type="text" class="form-control" id="cat-des-large">
                    </div>     
                </div>       
                <div>           
                    <button type="button" id="save-changes" class="btn btn-primary item-s-changes">Guardar</button>
                    <button type="button" id="cancel-save" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
    </div>          
</form>

<script type="text/javascript" src="/public/js/app-category-add.js"></script>