<form action="Category/add" method="post">
<h3>Crear nueva categoria</h3>
<hr>
    <div class="form">
                <div class="row form-row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="text-container">
                            <div class="span-container">
                                <span>Categoria:<span>
                            </div>
                            <div class="input-container-x">
                                <input type="text" name="cat-id" id="cat-id" class="input-obj" placeholder="Categoria">
                            </div>
                        </div>                
                    </div>                    
                </div>
                <div class="row form-row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="text-container">
                            <div class="span-container">
                                <span>Nombre:<span>
                            </div>
                            <div class="input-container-x">
                                <input type="text" name="cat-name" id="cat-name" class="input-obj" placeholder="Nombre categoria">
                            </div>
                        </div>                
                    </div>                    
                </div>
                <div class="row form-row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="text-container">
                            <div class="span-container">
                                <span>Descripción:<span>
                            </div>
                            <div class="input-container-x">
                                <input type="text" name="cat-description" id="cat-description" class="input-obj" placeholder="Descripcion">
                            </div>
                        </div>                
                    </div>                    
                </div>          

                <div class="row form-row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="text-container">
                            <div class="span-container">
                                <span>Des Larga:<span>
                            </div>
                            <div class="input-container-x">
                                <input type="text" name="cat-des-large" id="cat-des-large" class="input-obj" placeholder="Descripcion">
                            </div>
                        </div>                
                    </div>                    
                </div>          
                 
                <div>           
                    <button type="button" id="save-changes" class="btn btn-primary item-s-changes b-actions">Guardar</button>
                    <button type="button" id="cancel-save" class="btn btn-secondary b-actions" data-dismiss="modal">Cancelar</button>
                </div>
    </div>          
</form>

<script type="text/javascript" src="/public/js/app-category-add.js"></script>