.modal-header{
    background-color: #888585;
    color: #fff;
}

.modal-footer{
    background-color: #888585;
    color: #fff;
}

.login-form{
    width: 450px; 
    height: 400px;
    background-color:rgba(100,100,100,0.5);
    margin:30px auto;
}

.login-form  button{
    margin: 0 auto;    
    width: 80%;
    background-color: rgba(100, 100,100,0.5);
    color: #fff;
    border-color: rgba(100,100,100,0.5);
}
.login-list{
    list-style: none;
    padding: 20px 0; 
    margin: 0;
}
.login-form span{
    display: block;
    text-align: center;
    color:#fff;
    padding-top: 10px;
}
.pwd-span:hover{
    cursor: pointer;
    color:#ddd;
}
.login-title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: rgba(120,120,120,0.8);

}


body{
    margin:0;
    padding: 0;
}
.wrapper{
    width: 98%; 
    margin: 1%;
    height: 98%;
    background-color:#fff;
}
.wrapper-container{
    padding-top:30px;
    background-color: #313030;
    width:100%;
    height: 100vh;
}
@media screen and (min-height:768px) {
    .wrapper{
        height: 760px;
    }   
}
@media screen and (min-height: 800px){
    .wrapper{
        height: 790px;
    }   
}

@media screen and (min-height: 960px){
    .wrapper{
        height: 950px;
    }   
}

.input-container{
    padding-left:10%;    
    margin-top:20px;
    width: 100%; 
    height: 40px;
    background-color:rgba(100,100,100,0.5);    
}

.left-login{
    display:inline-block;
    width: 15%; 
    height: 40px;
    background-color:rgba(100,100,100,1);
}
.right-login{
    display:inline-block;
    width: 73%; 
    height: 40px;
    margin-left: 2px;
    background-color:rgba(100,100,100,1);
    position:relative;
    border:none;
}

.input-login{
    display:inline-block;
    width: 100%; 
    height: 40px;
    margin-left: 2px;
    background-color:rgba(100,100,100,1);
    position:relative;
    border:none;
    color:#fff;
}
.x-form{    
    display:inline-block;
    width: 90%; 
    height: 40px;    
    background-color:rgba(100,100,100,1);
    position:relative;
    border:none;
}
.x-buttons{    
    display:inline-block;
    width: 60%; 
    height: 40px;    
    background-color:rgba(100,100,100,1);
    position:relative;
    border:none;
}
.container-input{
    text-align: center;
    
}
.container-input-button{
    text-align: center;
    margin-top: 30px;
}

.x-title{
    text-align: start;
    width: 90%;
    margin: 0 auto;
    color:#fff;
}