<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/app/main.css">    
    
</head>
<body>       
        {{#if AppName }} 
                {{{body}}}            
            {{else}} 
            <div class="nav-header">
                <div class="header-title">
                    <div class="title-app">
                        <div class="menu-icon">
                            <img src="/public/img/hamburger.png" alt="" class="img-menu">
                        </div>
                        <span class="sp-title">@AppName</span>                            
                    </div>                    
                </div>
                <div class="header-search">
                    <input type="text" class="text-search" id="search-text" placeholder="Buscar">
                    <div class="img-search">

                    </div>
                </div>
                <div class="user-interation">
                    <div class="user-info">
                        <span>##profile info username</span>
                    </div>           
                    <div class="user-profile">      
                        <img src="/public/img/background.jpg" alt=""  >                  
                    </div>
                    <div class="user-settings">
                        <img src="/public/img/settings.png" class="img-settings" alt=""  >                  
                    </div>
                             
                </div>
            </div>
            
            <div class="container-menu closed-menu">
                <!--
                <div class="menu-item" target="x-target">
                        <span class="item" target="x-target">Administración</span>                        
                    <div class="container-image">
                        <img src="/public/img/down.png" class="image-item"></img>
                    </div>                    
                </div>

                <div class="child menu-item-c child-closed" target="x-target">
                        <span class="child item-c">Categorias</span>                                            
                </div>
                <div class="child menu-item-c child-closed" target="x-target">
                        <span class="child item-c">SubCategorias</span>                                            
                </div>
                <div class="child menu-item-c child-closed" target="x-target">
                        <span class="child item-c">Productos</span>                                            
                </div>
                <div class="child menu-item-c child-closed" target="x-target">
                        <span class="child item-c">Provedores</span>                                            
                </div>
                <div class="child menu-item-c child-closed" target="x-target">
                        <span class="child item-c">Sucursales</span>                                            
                </div>
                <div class="child menu-item-c child-closed" target="x-target">
                        <span class="child item-c">Licencia</span>                                            
                </div>
                <div class="child menu-item-c child-closed" target="x-target">
                        <span class="child item-c">Usuarios</span>                                            
                </div>
              
                <div class="menu-item" target="x-target2">
                    <span class="item" target="x-target2">Operacion</span>
                    <div class="container-image">
                        <img src="/public/img/down.png" class="image-item"></img>
                    </div>                    
                </div>

                <div class="child menu-item-c child-closed" target="x-target2">
                        <span class="child item-c">Entradas</span>                                            
                </div>
                <div class="child menu-item-c child-closed" target="x-target2">
                        <span class="child item-c">Salidas</span>                                            
                </div>
                <div class="child menu-item-c child-closed" target="x-target2">
                        <span class="child item-c">Complementos</span>                                            
                </div>

                <div class="menu-item">
                    <span class="item">Ventas</span>                    
                    <div class="container-image">
                        <img src="/public/img/down.png" class="image-item"></img>
                    </div>                    
                </div>
                <div class="menu-item">
                    <span class="item">Reportes</span>
                    <div class="container-image">
                        <img src="/public/img/down.png" class="image-item"></img>
                    </div>                    
                </div>
                -->
             
            </div>            
            <div class="wrapper-search search-hidden">   
                <div class="search-header">
                    <div class="menu-path">
                        <span class="menu-url">Ubicacion actual: @@url</span>
                    </div>
                    <div class="close-finder">
                        <img class="close-x-finder" src="/public/img/close.png" alt="">
                    </div>
                </div>       
                <div class="option-found">
                    <span>Link enlace 01</span>
                </div>  
                <div class="option-found">
                    <span>Link enlace 02</span>
                </div>  
                <div class="option-found">
                    <span>Link enlace 03</span>
                </div>  

                <div class="option-found">
                    <span>Link enlace 03</span>
                </div>  

                <div class="option-found">
                    <span>Link enlace 03</span>
                </div>  
                <div class="option-found">
                    <span>Link enlace 03</span>
                </div>  
                <div class="option-found">
                    <span>Link enlace 03</span>
                </div>  
                <div class="option-found">
                    <span>Link enlace 03</span>
                </div>  
            </div>                        
            <div class="wrapper"> 
                {{{body}}}
            </div>
            
        {{/if}}
    
    <script type="text/javascript" src="/public/js/jquery.js"></script>
    <script type="text/javascript" src="/public/js/popper.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.js"></script>
    <script type="text/javascript" src="/public/js/app.js"></script>
    
    
</body>
</html>