
<div  class="login-form">
    <span class="login-title">{{AppName}}.- Acceso al sistema</span>    
    <span>Ingrese usuario y contrase침a</span>
<form action="/login" method="POST">
    {{#if errmessage}}
        <h2>errmessage</h2>
    {{/if}}
    <ul class="login-list">
        <li><input type="text" class="form-control" maxlength="128" placeholder="Usuario" id="username" name="username"/></li>
        <li><input type="password" class="form-control" maxlength="128" placeholder="Contrase침a" id="password" name="password"/></li>
        <li><button  class="form-control">Iniciar sesi칩n</button></li>
        <li><span class="pwd-span">Recuperar contrase침a</span></li>        
    </ul>            
</form>
</div>



