
<div class="wrapper-container">
<div  class="login-form">
    <span class="login-title">{{AppName}}.- Acceso al sistema</span>    
    <span>Ingrese usuario y contraseña</span>
<form action="/login" method="POST">
    {{#if errmessage}}
        <h2>errmessage</h2>
    {{/if}}
    <div class="container-input">        
        <div class="x-title">
            <label for="username" class="title">Usuario:</label>
        </div>
        <div class="x-form">            
            <input id="username" name="username" type="text" class="input-login">        
        </div>                
        <div class="x-title">
            <label for="password" class="title">Contrasena:</label>
        </div>
        <div class="x-form">            
            <input id="password" name="password" type="password" class="input-login">        
        </div>            
    </div>
    <div class="container-input-button">
        <div class="x-buttons">
            <button type="submit" class="form-control">Iniciar sesión</button>        
            <span class="pwd-span">Recuperar contraseña</span>
        </div>                    
    </div>
</form>
</div>
</div>
    
