<div class="dashboard-container">
    <div class="dashboard-item">
        <div class="indicator-container rounded-indicator-right">
            <div class="indicator-header">
                <span class="title-class-indicator">Articulos, Categorias, Subcategorias</span>
                <img src="public/img/close.png" class="img-close">
            </div>
            <div class="item-indicator">
                <div class="c-item-ind">
                    <h4>Articulos</h4>
                    <span>0</span>
                </div>
                <div class="c-item-ind">
                    <h4>Categorias</h4>
                    <span>0</span>
                </div>
                <div class="c-item-ind">
                    <h4>SubCategorias</h4>
                    <span>0</span>
                </div>                
            </div>          
        </div>
        <div class="report-container rounded-indicator-left">
            <div class="indicator-header">
                <span class="title-class-indicator">Reportes</span>
                <img src="public/img/close.png" class="img-close">
            </div>   
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Modulo</th>
                        <th>Nombre Reporte</th>
                        <th>Seleccionar</th>
                    </tr>                    
                </thead>
                <tbody class="body-report">
                           
                </tbody>
            </table>         
            
        </div>
    </div>
    
    <div class="dashboard-container dashboard-item">        
        <div class="rounded-indicator-full">
            <div class="indicator-header">
                <span class="title-class-indicator">Entradas / Salidas</span>
                <img src="public/img/close.png" class="img-close">
            </div>     
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Origen</th>
                        <th>Descripcion</th>
                        <th>Importe</th>
                        <th>Ver</th>
                    </tr>                    
                </thead>
                <tbody class='container-dashboard'>
                    <!--
                    <tr>
                        <td>Entrada</td>
                        <td>Proveedor</td>
                        <td>Entrada desde proveedor</td>
                        <td>550.00</td>
                        <td><a href="#" class="alert">Ver</a></td>
                    </tr>                  
                    <tr>
                        <td>Salida</td>
                        <td>Venta</td>
                        <td>Salida desde venta</td>
                        <td>5220.00</td>
                        <td><a href="#" class="alert">Ver</a></td>
                    </tr>            
                    <tr>
                        <td>Salida</td>
                        <td>Venta</td>
                        <td>Salida desde venta</td>
                        <td>2220.00</td>
                        <td><a href="#" class="alert">Ver</a></td>
                    </tr>                  
                        -->                            
                </tbody>
            </table>                
        </div>
    </div>
</div>

<script src="/public/js/dashboard.js"></script>